.App {
    text-align: center;
  }
  
  .App-logo {
    animation: beat .25s infinite alternate;
    font-size: 55px;
    color: #e00;
    transform-origin: center;
  }
  @keyframes beat{
	to { transform: scale(1.4); }
}
  
  .App-header {
    background-color: lightgray;
    height: 150px;
    padding: 20px;
    color:  white;
  }
  
  .headerFont {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    text-transform: uppercase;
  }

  .subHeader{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    text-transform: uppercase;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

/* My own css*/
#embedded-human {
    width: 53%;
    overflow: auto;
}
iframe{
    overflow: auto;
}
a, button {
    text-decoration: none;
  }

  .card {
    border: none;
    margin-top: 1em;
    margin-bottom: 1em;
}
.card p{
    vertical-align: baseline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25em;

}

img {
    width: 45%;
    height: 45%;
    margin-left: 10em;
    float: right;
}
.container{
    max-width: 47%;
    padding: 0;
}


.enableScroll {
  overflow-y: scroll;
  height: 80vh
}